.skill {
    width: 100%;

    .skill_inner {
        flex: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        width: 90%;
        margin: 0 auto;
        transform-style: preserve-3d;
        perspective: 1000px;

        .skill_tit {
            width: 100%;
            margin: 30px 0 4vh;
            text-transform: uppercase;
            letter-spacing: .5em;
            border-width: 4px 0;

            h1 {
                font: 600 8vh SCDream7;
                letter-spacing: 0;
                display: block;
                margin: 0 auto;
                text-align: center;
                background: url(../../public/img/animated-text-fill.png) repeat-y;
                background-size: cover;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: aitf 80s linear infinite;
                -webkit-transform: translate3d(0, 0, 0);
                -webkit-backface-visibility: hidden;
            }
        }

        .skill_con {
            position: relative;
            width: 100%;
            padding-bottom: 50px;

            .skill_cover {
                position: absolute;
                left: -50%;
                width: 200%;
                height: 5vh;
                background: linear-gradient(to right, black -100%, transparent 50%, black 200%);
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                width: 100%;
                gap: 30px;

                li {
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    width: 650px;
                    height: 25vh;
                    min-height: 200px;
                    margin-bottom: 1vw;
                    padding: 20px;
                    box-sizing: border-box;
                    border: 3px solid #fff;
                    box-sizing: border-box;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    transition: transform 0.5s linear 0s;
                    border-radius: 20px;
                    transition: all 0.5s linear 0s;

                    ::selection {
                        background-color: #fff;
                        color: #000;
                    }

                    .left {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        width: 30%;
                        height: 100%;
                        margin-right: 10px;
                        padding: 20px;
                        box-sizing: border-box;

                        img {
                            height: 30%;
                            margin-bottom: 1vh;
                        }

                        h2 {
                            font-family: SCDream6;
                            font-size: 1.5vh;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                        }

                        h2.adobe {
                            font-size: 1.3vh;
                        }

                    }

                    .right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        height: 100%;

                        dl {
                            dt {
                                font-family: SCDream5;
                                font-size: 1.5vh;
                                line-height: 30px;
                                font-weight: 600;
                            }

                            dd {
                                margin-bottom: 5px;
                                font-family: SCDream3;
                                font-size: 1.2vh;
                                line-height: 200%;
                                word-break: keep-all;

                                svg {
                                    margin-right: 5px;
                                }

                            }

                            dd:last-child {
                                margin-bottom: 0px;
                            }
                        }
                    }

                }

            }

            li:nth-child(1):hover {
                border-color: #ff6520;
                background-color: rgba(255, 101, 32, 0.6);
            }

            li:nth-child(2):hover {
                border-color: #0277bd;
                background-color: rgba(2, 119, 189, 0.6);
            }

            li:nth-child(3):hover {
                border-color: #ffca28;
                background-color: rgba(255, 202, 40, 0.2);
            }

            li:nth-child(4):hover {
                border-color: #017acb;
                background-color: rgba(1, 122, 203, 0.6);
            }

            li:nth-child(5):hover {
                border-color: #0cf;
                background-color: rgba(0, 204, 255, 0.2);
            }

            li:nth-child(6):hover {
                border-color: #404040;
                background-color: rgba(94, 94, 94, 0.5)
            }

            li:nth-child(7):hover {
                border-color: #ffca28;
                background-color: rgba(255, 202, 40, 0.2);
            }

            li:nth-child(8):hover {
                border-color: #cd6799;
                background-color: rgba(205, 103, 153, 0.6);
            }

            li:nth-child(9):hover {
                border-top-color: #f24e1e;
                border-left-color: #1abcfe;
                border-right-color: #a259ff;
                border-bottom-color: #0acf83;
                background-color: rgba(0, 0, 0, 0.4);
            }

            li:nth-child(10):hover {
                border-color: #30b7de;
                background-color: rgba(48, 183, 222, 0.5);
            }

            li:nth-child(11):hover {
                border-color: #ea771a;
                background-color: rgba(234, 119, 26, 0.5);
            }


        }


    }


}

.skill+.footer {
    display: block;
}



@keyframes loading_skill {
    0% {
        transform: translate(0%, 0);
    }

    100% {
        transform: translate(100%, 0);
    }
}